<launch>
  <node pkg="surfel_fusion" type="surfel_fusion" name="surfel_fusion" clear_params="true" output="screen">

    <!-- camera parameter -->
    <param name="cam_width" value="640" />
    <param name="cam_height" value="480" />

    <!--input image info-->
    <param name="cam_fx" value="385.754486" />
    <param name="cam_cx" value="323.120483" />
    <param name="cam_fy" value="385.754486" />
    <param name="cam_cy" value="236.7432098" />

    <!-- fusion parameter, all in meter -->
    <param name="fuse_far_distence"  value="3.0" />
    <param name="fuse_near_distence" value="0.5" />

    <!-- for deform the map -->
    <param name="drift_free_poses" value="100" />

    <!-- for data save -->
    <remap from="~image" to="/camera/infra1/image_rect_raw" />
    <remap from="~depth" to="/camera/depth/image_rect_raw" />
    <remap from="~loop_path" to="/keyframe_pose_graph_slam_node/adhoc/xpath_detailed" />
    <remap from="~extrinsic_pose" to="/vins_estimator/extrinsic" />
    <remap from="~loop_info" to="/cerebro/loopedge" />

  </node>

</launch>
